#banner .inner {
    -moz-animation: reveal-banner 1s 0.25s ease-in-out;
    -webkit-animation: reveal-banner 1s 0.25s ease-in-out;
    -ms-animation: reveal-banner 1s 0.25s ease-in-out;
    animation: reveal-banner 1s 0.25s ease-in-out;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background: rgba(90, 55, 77, 0.5);
    color: #fff;
    display: inline-block;
    opacity: 0;
    padding: 3em;
    text-align: center;
}

    #banner .inner header {
        display: inline-block;
        border-bottom: solid 2px;
        border-top: solid 2px;
        margin: 0 0 2em 0;
        padding: 3px 0 3px 0;
    }

        #banner .inner header h2 {
            border-bottom: solid 2px;
            border-top: solid 2px;
            font-size: 2.5em;
            font-weight: 900;
            letter-spacing: 0.2em;
            margin: 0;
            padding-left: 0.05em;
            position: relative;
            text-transform: uppercase;
        }

    #banner .inner p {
        letter-spacing: 0.1em;
        margin: 0;
        text-transform: uppercase;
    }

        #banner .inner p a {
            color: inherit;
            font-weight: 400;
            text-decoration: none;
        }

    #banner .inner footer {
        margin: 2em 0 0 0;
    }

    #banner {
        background-size: 10em, 10em, auto, cover;
        padding: 6em 0;
    }

        #banner .inner {
            background: none;
            display: block;
            padding: 0 1.5em;
        }

            #banner .inner header h2 {
                font-size: 1.5em;
            }

            #banner .inner p {
                text-align: center;
            }

            #banner .inner br {
                display: none;
            }

            
